.to-header{
	width: 100%;
	position: fixed;
	background-color: #fff;
	z-index: 99999;
}
.to-check-tips {
	height: 30px;
	background-color: rgba(169, 190, 213, 0.9);
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color: #fff;
	font-weight: 600;
}

.to-status-detail {
	color: #fff;
	text-align: center;
	background-color: #3f8d59;
	background: -webkit-gradient(linear, 0 0, 0 70%, from(#3f8d59), to(#5cb85c));
}

.to-status-checked {
	color: #fff;
	text-align: center;
	background-color: dimgrey;
	background: -webkit-gradient(linear, 0 0, 0 70%, from(dimgrey), to(rgba(0,0,0,.4)));
}
.progress-bar-info {
    background-color: rgba(0,0,0,.4) !important;
}
.progress-to-detail {
	padding-top: 5px;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent) !important;
}

.progress-to-checked {
	padding-top: 5px;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent) !important;
}

.to-status-clock {
	width: 50%;
	margin-left: 25%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.to-tab {
	text-align: center;
	border-top: rgba(0, 0, 0, 0.1) 1px solid;
}

.to-tab-title {
	width: 50%;
	margin-left: 25%;
	padding-top: 6px;
	padding-bottom: 6px;
}

.to-active {
	color: #4e9ff6;
	border-bottom: #4e9ff6 4px solid;
}

.to-passive {
	color: #7f8589;
	border-bottom: #7f8589 4px solid;
}

.to-detail {
	padding-left: 20px;
}
.to-mation{
	padding-left: 20px;
}
.td_item{
	height: 30px;
	display: flex;
	color: darkgray;
}
.td_item p{
	color: lightslategrey;
}
.to-br{
	margin-top: 15px;
	margin-bottom: 15px;
	height: 20px;
	background-color: #f3f8f7;
}
.to-review{
	padding-left: 20px;
}
.to-check{
	padding-left: 20px;
}
.timeline{
	margin-left: -30px;
}
.to-timeline-event{
	padding-top: 15px;
	display: flex;
}
.timeline-check-desc{
	color: darkgray;
	padding: 7px;
	border: rgba(0,0,0,0.1) 1px solid;
	border-radius: 4px;
	width: 100%;
	background-color: #f3f8f7;
}
.timeline-item{
	margin-top: -15px;
}
.timeline{
	margin-top: 18px;
}
.to-bottom-btn{
	padding-left: 20px;
	background-color: rgba(243, 248, 247,.5);
}

.to-bottom-btn button{
	width: 95%;
	border: rgba(0,0,0,0.1) 1px solid;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 5px;
	background-color: #fff;
}

.to-form{
	padding-left: 20px;
}
.to-form table{
	width: 95%;
}
.to-form input{
	border: none;
	width: 80%;
	padding: 5px;
	margin-left: 10px;
}
.to-form tr{
	line-height: 30px;
	border-bottom: rgba(0,0,0,0.1) 1px dashed;
}
#mation_status{
	width: 60%;
}
.to-item{
	margin-left: 2%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 95%;
	border: rgba(0,0,0,0.1) 1px dashed;
	margin-bottom: 10px;
}
.to-item td{
	text-align: center;
}
